/*!
 * Start Bootstrap - Heroic Features (https://startbootstrap.com/template-overviews/heroic-features)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-heroic-features/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
}

.border-3 {
    border-width:3px !important;
}

.border-5 {
    border-width:5px !important;
}